  <div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" id="pagerForm" action="/b2wms.php?act=admin.usersinfo" method="post">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="numPerPage" value="20" />	
	<div class="searchBar" >
         <table class="searchContent" >
         	<tr>
       		
<td><label>用户名：</label><input type="text" name="loginId"></td>
         	</tr>
         </table>  
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit" id="choosedata">查询</button></div></div></li>
			</ul>
		</div>
	</div>
	</form>
</div>
<div class="pageContent" id="pagecontent">

	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="/b2wms.php?act=admin.usersadd&acttype=0" target="dialog" mask="true"><span>新增</span></a></li>
			
		</ul>
	</div>
	<div id="w_list_print">
	<table class="list" width="100%" targetType="navTab" asc="asc" desc="desc" layoutH="116">
		<thead>
			<tr id="merchantinfo">
				<th width="100">用户ID</th>
				<th width="100">用户名</th>
				<th width="100">姓名</th>
				<th width="100">分组</th>
				<th width="100">状态</th>
				<th width="100">操作</th>
				<th width="100">权限</th>
			</tr>
		</thead>
		<tbody>
		{foreach name=ret from=$cout.info.result item=ret}
			<tr target="sid_user" >
				<td>{$ret.userId}</td>     
	          <td>{$ret.loginId}</td>     
	          <td>{$ret.username}</td>
	          <td >{$ret.name}</td>    
	          <td >{return_array_value arr=$cout.status sub=$ret.state}</td>     
	          <td ><a target="dialog" mask="true"  href="b2wms.php?act=admin.edituser&id={$ret.userId}">修改</a></td>  
	           <td ><a  target="dialog" mask="true"  href="b2wms.php?act=admin.rankuser&id={$ret.userId}">用户权限管理</a></td>  
			</tr>
		{/foreach}
		</tbody>
	</table>
	</div>
	<div class="panelBar" >
		<div class="pages">
			<span>显示</span>
			<select name="numPerPage" onchange="navTabPageBreak({literal}{numPerPage:this.value}{/literal})">
				
				<option value="50" {if $cout.info.size ==50}selected{/if}>50</option>
				<option value="100" {if $cout.info.size ==100}selected{/if}>100</option>
				<option value="200" {if $cout.info.size ==200}selected{/if}>200</option>
				{if $cout.info.size >200}
				<option value="$cout.info.size" selected>{$cout.info.size}</option>
				{/if}
			</select>
			<span>条，共{$cout.info.totalCount}条</span>
		</div>
		<div class="pagination" targetType="navTab" totalCount="{$cout.info.totalCount}" numPerPage="{$cout.info.size}" pageNumShown="10" currentPage="{$cout.info.nowPage}"></div>

	</div>
</div>

