{include file="inc/header.inc.html"}
<div id="container">
			<div id="navTab" class="tabsPage">
				<div class="tabsPageHeader">
					<div class="tabsPageHeaderContent">
						<ul class="navTab-tab">
							<li tabid="main" class="main"><a href="javascript:;"><span><span class="home_icon">我的主页</span></span></a></li>
						</ul>
					</div>
				</div>
				<ul class="tabsMoreList">
					<li><a href="javascript:;">我的主页</a></li>
				</ul>
				<div class="navTab-panel tabsPageContent layoutBox">
					<div class="page unitBox">
						<div class="accountInfo">
							<div class="right">
								

							</div>

						</div>
						<div class="pageFormContent" layoutH="80" style="margin-right:130px;">

						</div>
					</div>
					
				</div>
			</div>
</div>
</div>
{include file="inc/footer.inc.html"}