<!--修改样式2 p元素自适应宽度 start-->
<div class="pageContent">
    <form method="post" action="/b2wms.php?act=musicmgr.musicadd" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, dialogAjaxDone)">
    <input type="hidden" name="acttype" value="{$cout.acttype}">
    <input type="hidden" name="id" value="{$cout.vinfo.id}">
<table class="searchContent" >
<tr>           
    <td> <label>所属分类 classid</label></td>
    <td>
            <select name="item.cid" class="combox">
        {foreach key=key item=item from=$cout.music_category}
        <option value="{$key}" {if $cout.vinfo.cid == $key}selected{/if} >{$item}</option>
        {/foreach}
      </select>
        </td>
</tr>
<tr>           
    <td> <label>视频地址</label></td>
    <td>
            <input name="item.shw_url" type="text" value="{$cout.vinfo.shw_url}"  />
          </td>
</tr>
<tr>           
    <td> <label>音频上传</label></td>
    <td>
            {if $cout.vinfo.img_up !=''}<img src="/upload/100_100_{$cout.vinfo.img_up}" height="40" border="0" />{/if}<input type="file" name="img_up" />
          </td>
</tr>
<tr>           
    <td> <label>歌词</label></td>
    <td>
            <textarea class="editor" name="item.shw_content" rows="15" cols="80" tools="full" pagetag upLinkUrl="/b2wms.php?act=manage.upload" upImgUrl="/b2wms.php?act=manage.upload" upFlashUrl="/b2wms.php?act=manage.upload" upMediaUrl="/b2wms.php?act=manage.upload" >{$cout.vinfo.shw_content}</textarea>
          </td>
</tr>
<tr>           
    <td> <label>专辑介绍</label></td>
    <td>
            <textarea class="editor" name="item.shw_intro" rows="15" cols="80" tools="full" pagetag upLinkUrl="/b2wms.php?act=manage.upload" upImgUrl="/b2wms.php?act=manage.upload" upFlashUrl="/b2wms.php?act=manage.upload" upMediaUrl="/b2wms.php?act=manage.upload" >{$cout.vinfo.shw_intro}</textarea>
          </td>
</tr>
<tr>           
    <td> <label>专辑封面</label></td>
    <td>
            {if $cout.vinfo.img_up2 !=''}<img src="/upload/100_100_{$cout.vinfo.img_up2}" height="40" border="0" />{/if}<input type="file" name="img_up2" />
          </td>
</tr>
<tr>           
    <td> <label>视频标题</label></td>
    <td>
            <input name="item.shw_title" type="text" value="{$cout.vinfo.shw_title}"  />
          </td>
</tr>
<tr>           
    <td> <label>排列顺序</label></td>
    <td>
            <input name="item.mgr_sort" type="text" value="{$cout.vinfo.mgr_sort}"  />
          </td>
</tr>
<tr>           
    <td> <label>是否启用</label></td>
    <td>
          <select name="item.mgr_status" class="combox">
        {foreach key=key item=item from=$cout.mgr_status}
        <option value="{$key}" {if $cout.vinfo.mgr_status == $key}selected{/if} >{$item}</option>
        {/foreach}
    </select>
          </td>
</tr>
</table> 
<div class="formBar">
<ul>
<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
<li>
     <div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
</li>
</ul>
</div>
</form>
</div>
<!--修改样式2 end-->
