<!--详情1 p元素自适应宽度 start-->
<div class="pageContent">
<div class="pageFormContent" layoutH="56">
<p> <label>显示名称：</label>
      {$cout.vinfo.shw_title}
   	
     
</p><p> <label>表名：</label>
      {$cout.vinfo.shw_table}
   	
     
</p></div>
<div class="formBar">
     <ul>
          <li><a target="dialog" mask="true"  width="800" height="480" class="button" href="/b2wms.php?act=tablemgr.tableadd&acttype=1&id={$smarty.request.id}"><span>更新</span></a></li>
          <li>
               <div class="button"><div class="buttonContent"><button type="button" class="close">关闭</button></div></div>
          </li>
     </ul>
</div>
</div>
<!--详情1 end-->
