<li><a href="b2wms.php?act=linkbttonmgr.linkbtton" target="navTab" rel="linkbttonmgr.linkbtton">转换工具</a></li>
<li><a href="b2wms.php?act=homephotomgr.homephoto" target="navTab" rel="homephotomgr.homephoto">首页管理</a></li>
<li><a href="b2wms.php?act=aboutusmgr.aboutus" target="navTab" rel="aboutusmgr.aboutus">公司简介</a></li>
<li><a href="b2wms.php?act=servermgr.server" target="navTab" rel="servermgr.server">服务业务</a></li>
<li><a href="b2wms.php?act=contactmgr.contact" target="navTab" rel="contactmgr.contact">联系我们</a></li>
<li><a href="b2wms.php?act=newsmgr.news" target="navTab" rel="newsmgr.news">列表栏目</a></li>
<li><a href="b2wms.php?act=photomgr.photo" target="navTab" rel="photomgr.photo">产品栏目</a></li>
<li><a href="b2wms.php?act=casesemgr.casese" target="navTab" rel="casesemgr.casese">案例栏目</a></li>
<li><a href="b2wms.php?act=commentmgr.comment" target="navTab" rel="commentmgr.comment">评论栏目</a></li>
<li><a href="b2wms.php?act=recruitmgr.recruit" target="navTab" rel="recruitmgr.recruit">招聘名称</a></li>
